table{
  border-collapse: collapse;
  display:inline-block;
}
tr{
  display:block;
  float:left;
  text-align: right;
}
th{
  border-bottom:1px solid #ececec;
  padding:10px;
  box-sizing:border-box;
  display:block;
  width:100%;
}
td{
  border-bottom:1px solid #ececec;
  padding:10px;
  box-sizing:border-box;
  display:block;
  width:100%;
  white-space:nowrap;
}
